.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n c";
}

.header {
    grid-area: h;
    background-color: yellowgreen;
}

.header img {
    width: 30px;
    height: 30px;
}

.nav {
    grid-area: n;
    background-color: #02a855;
}

.content {
    grid-area: c;
    background-color: #c9d576;
}

.content img{
    width: 100%;
    height: 400px;
    object-fit: cover;

}